/* src/components/home.css */
header {
  background-color: #333;
  color: white;
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-left: 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 3rem 1rem 4rem 1rem;
  margin-top: 60px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}

.card {
  border: 1px solid #ddd;
  padding: 1rem;
  width: calc(33% - 2rem); /* Adjust width based on spacing */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.card img {
  max-width: 100%;
  height: auto;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 1rem 0;
  z-index: 1000;
}
